@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
     <img style="height: 300px;width:auto" src="https://www.teradeportes.com/sites/default/files/styles/flexslider_boxed_/public/images/titulares/2019/2019-02-19/liga-pro-ecuador-2019_0.jpg?itok=p2KFQ_b3" alt="Liga pro">
    


    <h1 class="display-4">Bienvenido a la Página de la Liga Pro </h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
