@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img style="height: 300px;width:auto" src="https://www.teradeportes.com/sites/default/files/styles/flexslider_boxed_/public/images/titulares/2019/2019-02-19/liga-pro-ecuador-2019_0.jpg?itok=p2KFQ_b3" alt="Liga pro">
    <h2 class="display-4">Bienvenido a la Página de la Liga Pro </h2>
    <h3>Cónocenos un poco más</h3>
    <h4>¿Qué es LigaPro?</h4>
    <p style="text-align: justify;">
        Los 26 clubes del fútbol ecuatoriano de la Serie A y B, decidieron unirse para en conjunto, buscar un futuro mejor para ellos.

        De aquí nace la idea de conformar la “Liga Profesional de Fútbol”, como las hay en varios países del mundo. Para poder iniciar este proyecto, se buscó la asesoría de la Liga Española de Fútbol, quienes aceptaron colaborar para el desarrollo de la misma.

        Es así como se decide fundar “La Liga Profesional de Fútbol del Ecuador” el 20 de abril del 2018, con los 24 equipos de Serie A y Serie B del Ecuador.

        La LigaPro administrará y organizará los torneos ecuatorianos de fútbol Serie A y Serie B, donde también controlará los derechos comerciales, disciplina, estadios, tribunal de apelaciones y de seguridad.
     </p>
    <h4>Misión</h4>
    <p style="text-align: justify;">
        Contribuir al desarrollo del fútbol profesional del Ecuador a través de la planificación, organización, comercialización, reglamentación y control de los torneos ecuatorianos de fútbol de primera categoría, procurando campeonatos justos y competitivos.
    </p>
    <h4>Visión</h4>
    <p style="text-align: justify;">
        Ser la entidad líder de Sudamérica en la gestión de torneos de fútbol profesional, que sean modelos a seguir en calidad deportiva, competitividad, sostenibilidad financiera y seguridad en los próximos 4 años.
    </p>
    <h4>Nuestros Valores</h4>
    <p style="text-align: justify;">
        Pasión por los deportes: Comprometidos con la profesionalización del deporte.
        Compromiso con la excelencia: Si lo hacemos, lo hacemos bien.
        Colaboración: Priorizando el trabajo en conjunto con nuestros clubes afiliados.
        Transparencia: Mostrando lo que hacemos y cómo lo hacemos.
        Inclusión: Promoviendo la aceptación a la diversidad cultural y de género.
        Juego limpio: Combatiendo el racismo, la discriminación y la violencia en los estadios.
        Política de Calidad
        LigaPro es una institución sin fines de lucro, compuesta por un equipo capacitado y comprometido en la organización, comercialización, regulación, ejecución y control de los campeonatos de primera categoría del fútbol profesional ecuatoriano, constituyendo relaciones constructivas con nuestros clubes afiliados y sponsors.

        Mediante el sistema de gestión de calidad, estamos comprometidos en cumplir los requisitos legales aplicables, enfocando nuestros esfuerzos en las necesidades de nuestros clubes afiliados y patrocinadores para la mejora continua de nuestros procesos.
    </p>
    <p>Conoce mas sobre el proyecto MVC <a href="https://github.com/BrandonArellanoU/LigaPro_TallerClase">Link para ir al Github</a>.</p>
</div>
